#######################################
##     CASSP Configuration File      ##
#######################################

######  GENERAL  ######
# number of cross-validation folds, if 0 - no cross validation
# cv is computed from data in "data" path variable
cv_folds = 0

# accuracy_type: 0 - Q3, 1 - SOV
accuracy_type = 0

acc_classes = 100
reliab_classes: 1000

threshold = 100

# 0 - normal, 1 - CASSP + PSIPRED, 2 - PSIPRED + CASSP
train_mode = 0

# 0 - normal, 1 - CASSP + PSIPRED, 2 - PSIPRED + CASSP
test_mode = -1

# 0 - normal, 1 - CASSP + PSIPRED, 2 - PSIPRED + CASSP
predict_mode = -1

# 0 - protein, 1 - residues
repair = 0

######  DATA PATHS  ######

data = ./data/datasets/rs_126.data
#data = ./data/datasets/pdb_vyber.data
data_test = ./data/datasets/pdb_vyber.data

#data = ./data/datasets/rs_126.pdata
#data_test = ./data/datasets/cb_513.pdata
#data_test = ./data/datasets/pdb_vyber.pdata

data_cf = ./data/chou_fasman/rs_126.cf
data_cc = ./data/conf_classes/rs_126.cc

stats = ./experiments/

psipred = /home/vlado/programs/psipred/runpsipred
best_rule = ./rules/best_q3.rule

to_predict = ./seqs
###### EVOLUTIONARY ALGORITHM ######

pop = 20
p_mut = 0.05
mut_dev = 0.1
p_cross = 0.7
max_gen = 100
no_change = 100

##### CELLULAR AUTOMATON #####

max_steps = 5
neigh = 3

# rule: 0 - simple, 1 - cf + cc
rule = 1
