######  DATA PATHS  ######

data_rs = ../data/final/rs_126.data
data_rs_cf = ../data/chou_fasman/rs_126.cf


data_cb = ../data/final/cb_513.data
data_cb_cf = ../data/chou_fasman/cb_513.cf

data_pdb = ../data/final/pdb_vyber.data
data_pdb_cf = ../data/chou_fasman/pdb_vyber.cf


###### EVOLUTIONARY ALGORITHM ######
# doplnit typy mutacie, selekcie, inicializacie, fitness funkcie ??

pop = 100
pmut = 5
pcross = 75
maxgen = 5

