*.class

# Package Files #
*.war
*.ear

# Latex Files #
*.aux
*.bbl
*.blg
*.log
*.out
*.toc

# data
data/.orig/
CASSP/frontend/
CASSP/doc/
CASSP/reports/
report/opravy/
report/parts/
experiments/metacentrum/
experiments/*.png
war/casspserver/
CASSP/cobertura.ser

# generated gnuplot scripts
*.txt
