#######################################
##     CASSP Configuration File      ##
#######################################


######  DATA PATHS  ######

data = ../data/final/rs_126.data
data_cf = ../data/chou_fasman/rs_126.cf

###### EVOLUTIONARY ALGORITHM ######
# doplnit typy mutacie, selekcie, inicializacie, fitness funkcie ??

pop = 100
p_mut = 5
p_cross = 75
max_gen = 5


##### CELLULAR AUTOMATON #####

max_steps = 5
neigh = 3
# 1 - simple, 2 - cf + cc
rule = 1


##########################################
# moznost nadefinovat typ fitness funkcie?
