#######################################
##     CASSP Configuration File      ##
#######################################

######  GENERAL  ######
# number of cross-validation folds, if 0 - no cross validation
# cv is computed from data in "data" path variable
cv_folds = 0

# accuracy_type: 0 - Q3, 1 - SOV
accuracy_type = 0

# acc_classes: 1 - n
acc_classes = 100

# reliab_classes: 1 - n
reliab_classes: 100

######  DATA PATHS  ######

data = ../data/final/rs_126.data
data_cf = ../data/chou_fasman/rs_126.cf
data_cc = ../data/conf_classes/rs_126.cc
data_test = ../data/final/pdb_vyber.data

stats = ./src/cassp/tests/

psipred = /home/vlado/programs/psipred/runpsipred
best_rule = ./best_rule.rule

###### EVOLUTIONARY ALGORITHM ######

pop = 3
p_mut = 0.05
p_cross = 0.5
max_gen = 5

##### CELLULAR AUTOMATON #####

max_steps = 3
neigh = 1

# rule: 1 - simple, 2 - cf + cc
rule = 1
